<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/thomasbarr1983">Tom Barr</a>, A coding student who is on a mission to learn the technical skills needed to launch his own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    He has taught hundreds of students how to do a variety of things in the workplace.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4"
      <%= image_tag 'headshot.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tom Barr</h2>
      <br />
      <p>
        Tom Barr is a web developer and experienced Team Lead.  He has served in the US Army in positions of authority.
      </p>
    </div>      
</div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />
